<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="separateBG">

  <slider-card *ngIf="featured_playlists.playlists" [title]="featured_playlists.message" [array]="featured_playlists.playlists.items"></slider-card>

  <slider-card *ngIf="new_releases.albums" [title]="'New Releases'" [array]="new_releases.albums.items"></slider-card>

  <slider-card *ngIf="categories.categories" [title]="'Categories'" [array]="categories.categories.items"></slider-card>

</ion-content>