<!-- <ion-menu side="right" [content]="mycontent">
    <ion-content>
        <ion-list-header *ngIf="!favourite_tracks" style="text-align:right;margin-bottom:0px">
            <h1>البطة مش بتحب تسمع حاجة</h1>
        </ion-list-header>

        <ion-list *ngIf="favourite_tracks">
            <ion-list-header style="text-align:right;margin-bottom:0px">
                <h1>البطة بتحب </h1>
            </ion-list-header>
            <ion-item *ngFor="let playlist of favourite_playlists" (click)="open_playlists(playlist)">
                <ion-avatar item-left style="background-image:url('assets/duck_loader.gif');margin: 5px;
                  background-size: 68%;position:absolute;z-index:1" class="icon-avatar"></ion-avatar>
                <ion-avatar item-left [style.background-image]="icon_url(track.track.album)" class="icon-avatar " style="z-index:2"></ion-avatar>
                <ion-label [color]="change_selected_track_color(track.track.id)">{{track.track.name}}</ion-label>
                <ion-icon item-end color="primary" name="musical-notes" *ngIf="track.track.id==selected_track_id"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu> -->
<ion-nav #mycontent [root]="rootPage"></ion-nav>