<!--
  Generated template for the PlaylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-wrap style="display: -webkit-inline-box;text-overflow: ellipsis;width: 40rem;">{{playlist.name}}</ion-title>
    <button ion-button color="primary" small style="float:right" *ngIf="tracks" (click)="play_tracks()"><ion-icon name="play"></ion-icon> Play All</button>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- {{playlist.external_urls.spotify}} -->
  <!-- <iframe frameborder="0" src="http://open.spotify.com/user/spotify/playlist/37i9dQZF1DXdPec7aLTmlC" style="height:100%;width:100%"></iframe> -->

  <ion-list>
     <ion-list>
        <ion-item *ngFor="let track of displayed_tracks" (click)="play_track(track.track)">
          <ion-avatar item-left [style.background-image]="icon_url(track.track.album)" class="icon-avatar "style=""></ion-avatar>
          <ion-label  [color]="change_selected_track_color(track.track.id)">{{track.track.name}}</ion-label>
          <ion-icon item-end color="primary" name="musical-notes" *ngIf="track.track.id==selected_track_id" ></ion-icon>
        </ion-item>
      </ion-list>
  </ion-list>

<ion-infinite-scroll *ngIf="displayed_tracks.length!=tracks.length" (ionInfinite)="load_more_tracks($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>


</ion-content>